# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### __Objectives:__
* List popular languages for Data Science
* List popular data science tools
* Work with Jupyter Notebooks
* Run simple code in Python and R

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter|
|Anaconda|
|R Studio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python
* 1 + 2
* 3 * 5
* 7 * (3+8)

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Jesús Hidalgo Sánchez